@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Custom Minimal Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* customs CSS */

body {
    background-color: #222;
    height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    background: linear-gradient(165deg,rgba(70, 226, 181, 1), rgba(78, 84, 124, 1));
    color: #FFFAFA;
    width: 350px;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 10px;
}

.search {
    position: relative;
    margin-bottom: 1.8rem;
}

input[type="text"] {
    color: #222;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: .5em 1em;
}

input[type="search"]:focus {
    outline: 1px solid #10151f;
}

#search-btn {
    padding: .5em;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 0;
    cursor: pointer;
}

#search-btn i {
    width: 30px;
}

.weather-icon {
    display: grid;
    place-content: center;
    margin: 1em;
}

.weather-icon img {
    width: 150px;
    height: 150px;
}

.temp {
    font-size: 2.7rem;
    font-weight: bold;
}

.city {
    font-size: 2.5rem;
    font-weight: bold;
}

.weather-info {
    font-size: 1.2rem;
    color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.humidity , .wind {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.fa-wind , .fa-water {
    color: lightgray;
}

.humidity-text, .wind-text {
    font-size: .8rem;
}

.humidity-num, .wind-num {
    font-size: 1.4rem;
    font-weight: bold;
}
    

