html, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #1C0045;
    font-size: 1.5rem;
    font-weight: bold;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color:rgba(194, 17, 17, 0.5);
    width: 650px;
    border-radius: 5px;
    overflow: hidden;
}

.header {
    background-color: #552D94;
    color: #fff;
    font-size: 1.8rem;
    width: 100%;
    text-align: center;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    margin: .5em auto;
}
.plus {
    background-color: #fff;
    color: #1C0045;
    font-size: 1.5rem;
    height: 25px;
    width: 25px;
    margin-right: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
}
/* .plus:hover {
    background-color: #260a53;
    color: #fff;
} */
#task {
    background-color: #fff;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
#task div {
    align-self: center;
}
#task-name {
    margin: .5rem 0;
}
.date {
    font-size: 1rem;
    height: 5px;
    width: 5px;
}
.icon i {    
    margin: 0 1rem;
    color: #fff;    
    border-radius: 50%;
    cursor: pointer;
}
.fa-check {
    background-color: #008510;
    padding: .5rem;
}
.fa-pen-to-square {
    background-color: #5C54C6;
    padding: .5rem;
}
.fa-trash {
    background-color: #65000D;
    padding: .5rem;
}
.fa-xmark {
    background-color: rgb(255, 145, 0);
    padding: .57rem .77rem;
}
