:root {
    /* Colors */
    --primary-clr: #0588F0;
    --secondary-clr: #2bc267;
    --expense-clr: #fceae7;
    --income-clr: #e8f9ec;
    --background-clr: #F5F5F5;
    --text-clr: #333333;

    /* Typography */
    --font-family: 'Arial', sans-serif;
    --border-radius: 5px;

    /* Spacing */
    --container-size: 650px;
    
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-clr);
    color: var(--text-clr);
}

main {
    display: flex;
    justify-content: space-evenly;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: var(--container-size);
    margin-top: 5vh;
    padding: 25px;
}

.container:first-of-type {
    text-align: center;
}

.container:first-of-type h1 {
    color: var(--primary-clr)
}

.container:first-of-type h2 {
    color: var(--secondary-clr);
    font-size: 2.3rem;
    margin: 1em 0;
}

.container:first-of-type input {
    display: block;
    font-size: 1.1rem;
    width: 100%;
    padding: 8px 12px;
    margin: 1.5em 0;
    border-radius: 6px;
}

.type-select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 20px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 8px 10px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #0050a5;
}

.entry {
    /* background-color: var(--income-clr); */
    padding: 1em;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}

.income {
    background-color: var(--income-clr);
}

.expense {
    background-color: var(--expense-clr);
}

.entry p {
    font-size: 1.125rem;
}

.entry > p {
    align-self: center;
}

/* .amount {
    font-size: 1.125rem;
} */

.amount-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.entry button {
    background-color: #dc3545;
    color: #fff;
    /* font-weight: 600; */
    border: none;
    outline: none;
    padding: .4em;
    margin: 8px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.entry button:hover {
    background-color: #992430;
}